.set {
}

.container {
    @include dsf();
    background-color: white;
    box-shadow: $box-shadow;
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

// partie PDP
.left {
    @include dsf();
    align-items: center;
    height: 100%;

    &--pdp {
        height: 200px;
        width: 200px;
    }

}