.modif {
    @include dsc();

    &__form {
        @include dsc(center);
        background-color: white;
        box-shadow: $box-shadow;
        margin-top: 20px;
        align-items: flex-start;
        width: 80%;
        padding: 20px;
    }
}

.nom {
    @include dsc();
    width: 100%;
}

.text {
    width: 80%;
    height: 25px;
    border: 2px solid $primary-color;

    &--prenom {
        margin-bottom: 10px;
    }
}

.textarea {
border: 2px solid $primary-color;
width: 80%;
max-width: 90%;
height: 60px;
}

.h2_-_modify { 
    border-bottom: 2px solid $secondary-color;
    width: 100%;
}

.bio {
    width: 100%;
    @include dsc();
}

// photo de profil
.pdp {
    @include dsc();
    width: 100%;

    &--modify {
        color: white;
        background-color: lighten($primary-color, 20%);
        border: none;
        padding: 10px;
        margin: 10px;

        &:hover {
            background-color: lighten($primary-color, 30%);
            cursor: pointer;
        }

    }
    &--delete {
        color: white;
        background-color: darken($secondary-color, 10%);
        border: none;
        padding: 10px;
        margin: 10px;

        &:hover {
            background-color: darken($secondary-color, 5%);
            cursor: pointer;
        }
    }

    &--img {
        width: 150px;
        height: 150px;
        border-radius: 50% 50%;
    }

}

// date de naissance
.birth {
    @include dsc();
    width: 100%;
}

.sexe__right {
    @include dsf();
    align-items: baseline;
    font-size: 22px;
}

.sexe__all {
    @include dsf();
    align-items: baseline;
    margin-left: 10px;
}

// bouton de validation
.button__container {
    @include dsf(center);
    width: 100%;
}

.validation {
    width: 25%;
    background-color: green;
    color: white;
    border: none;
    padding: 15px;
    font-size: 15px;

    &:hover {
        background-color: lighten(green, 5%);
        cursor: pointer;
    }
}


